<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found - Lego Collection</title>
    <link href="../src/output.css" rel="stylesheet">
</head>

<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl">Lego Collection</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1 object-bottom">
                <li> <a href="/about" class="text-white">About</a></li>
                <li>
                    <details>
                        <summary>
                            Theme
                        </summary>
                        <ul class="p-2 bg-base-100 rounded-t-none">
                            <li><a href="/lego/sets?theme=technic">Technic</a></li>
                            <li><a href="/lego/sets?theme=competi">Competitive</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>

    <div class="container mx-auto">
        <!-- Hero section for 404 -->
        <div class="hero bg-primary-500 text-white p-6 rounded-lg mb-6 text-center">
            <h2 class="text-3xl mb-4 font-bold">404 Not Found</h2>
            <p class="text-lg text-black">Oops! It seems like the page you're looking for doesn't exist.</p>
        </div>
    </div>

</body>

</html>
